<div class="payment-method payment-subform afterpay-form afterpay-invoice-form payment-form" id="afterPayInvoice">
    <div class="afterpay small-12 columns">
        {{ 'payment.afterpay.pay_with_afterpay_invoice' | trans }}
        {{ form_errors(form.afterPayInvoice) }}
        {{ form_widget(form.afterPayInvoice) }}
    </div>
</div>
